body{
    background-color:white;
}

.card{
    margin-bottom: 50px;
    margin-top: 50px;
}

.card-text{
    font-weight: bold;
    text-align: center
}

#supertitle{
    font-family: 'Oswald', sans-serif;
font-family: 'Trirong', serif;
}
